/* You can add global styles to this file, and also import other style files */
body {
    background: #cbc9c2; 
    margin: 20px;
}

.text-highlight {
    background-color: #FFFF00;
}

.red {
    color: red;
}